MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/SistemaTotems
JWT_SECRET=cambiar_por_un_texto_secreto
JWT_EXPIRES_IN=2h
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=contraseña_de_aplicacion_gmail
FRONTEND_URL=http://localhost:3000
